* {
    padding: 0;
    margin: 0;
}

html { 
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
  }

.grid-header {
    grid-area: header;
    background-color: rgba(216,226,220);
    position: fixed;
    width: 100%;
}

.grid-main {
    grid-area: main;
    /* position: fixed; */
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    max-height: 500px;
    align-items: center;
    background: url(./assets/main-image-cropped.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 50px;
}

.grid-results {
    grid-area: results;
    background: #D8E2DC;
    width: 100%;
    align-self: center;
}

.grid-footer {
    grid-area: footer;
    display: flex;
    /* padding-top: 150px; */
    flex-direction: column;
    justify-content: flex-end;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'results'
    'footer';
}

#header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* margin-bottom: 40px; */
}

#header-div a {
    margin: 100px;
    text-decoration: none;
    color: rgba(43,48,58);
}

#header-div a:hover {
    color: rgba(245,93,62,0.8);
}

#header-div img {
    height: 50px;
    border-radius: 100%;
}

#header-div button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: rgba(43,48,58);
    background: rgba(245,93,62,0.3);
    border: none;
}

#header-div button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 270px;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#header-div button:hover {
    transform: scale(1.03, 1.03);
}

#user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding-right: 20px;
}

#image-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 1200px;
    height: 900px;
    align-items: center;
} 

#search-form {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background: rgba(216,226,220,0.5);
    height: 8%;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
}

#search-form input {
    border: none;
    border-radius: 5px; 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    height: 20px;
    width: 300px;
    text-align: center;
    font-size: 1em;
    color: rgba(43,48,58);
}

#search-form select {
    /* border: 5px solid rgba(255,255,255,0.5); */
    border-radius: 5px; 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    font-size: .8em;
}

#search-form {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

#search-form button {
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    height: 50px;
    width: 100px;
    margin-bottom: 9px;
    background: rgba(245,93,62,0.8);
    font-size: 1em;
    color: rgba(43,48,58);
}

#search-form button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 270px;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    transition: opacity 0.8s ease-in-out;
}

#search-form button:hover {
    transform: scale(1.03, 1.03);
}

#search-form select {
    /* border: 2px solid black; */
    border-radius: 5px;
    margin-left: 10px;
    height: 50px;
    width: 100px;
    margin-bottom: 9px;
    color: rgba(43,48,58);
}

footer {
    background-color: black;
    color: white;
    height: 50px;
}

#results-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    overflow-y: auto;
    padding-top: 20px;
    max-height: 800px;
}

#results-list li::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 270px;
    /* height: 270px; */
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#results-list li:hover {
    transform: scale(1.01, 1.01);
}

#results-list li:hover::after {
    opacity: 1;
}

#results-list li {
    background-color: rgb(250, 250, 250);
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    max-width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgba(43,48,58);

}

li a:hover {
    color: rgba(245,93,62,0.8);
}

.campsite-image {
    width: 200px;
    height: auto;
    margin: 10px;
    overflow: hidden;
}

.campsite-favorites {
    display: flex;
    padding-left: 150px;
    width: 40px;
    height: auto;
    margin: 10px;
    overflow: hidden;
}

span img {
    padding-bottom: 15px;

}

li {
    width: 275px;
}
li h3 {
    font-size: 1em;
    padding-bottom: 10px;
}

li p {
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    font-size: .8em;
}


#buttons-container * {
    margin: 5px;
}

#buttons-container button {
    font-size: 25px;
    border-radius: 5px;
}

#activities-list {
    list-style: none;
    
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: white;
    box-shadow: 0 0 10px #FFFFFF;
}

#results-container h1 {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    text-align: center;
    font-size: 4em;
    color: rgba(43,48,58);
}