* {
    padding: 0;
    margin: 0;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#user-profile {
    display: flex;
    align-items: center;
}

#image-container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-image: url(./assets/sahin-yesilyaprak-546700-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 900px;
    align-items: center;
}

#search-form {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 15%;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

#search-form * {
    margin: 5px;
}

#search-form button {
    margin-left: 10px;
}

footer {
    background-color: black;
    color: white;
    height: 50px;
}

#results-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    overflow: auto;
    max-height: 600px;
}

li {
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    max-width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

li img {
    width: 75%;
}

#buttons-container {
    background: salmon;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 50px;
    font-size: 20px;
}

#buttons-container * {
    margin: 5px;
}

#buttons-container button {
    font-size: 25px;
    border-radius: 5px;
}