* {
    padding: 0;
    margin: 0;
}

html { 
    font-family: 'Roboto', sans-serif;
}

.grid-header {
    grid-area: header;
    background-color: rgba(216,226,220);
    position: fixed;
    width: 100%;
}
  

#header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#header-div a {
    margin: 100px;
    text-decoration: none;
    color: rgba(43,48,58);
}

#header-div img {
    height: 50px;
    border-radius: 100%;
}

#header-div button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: rgba(43,48,58);
    background: rgba(245,93,62,0.3);
    border: none;
}

#user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding-right: 20px;
}

.auth-container {
    display: flex;
    justify-content: center;
    background-image: url(../assets/viktor-mogilat-14772-unsplash.jpg);
    background-size: cover;
    height:1200px;
}


.login-container {
    display: flex;
    background: rgb(245, 130, 107);
    flex-direction: column;
    text-align: center;
    height: 800px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin-top: 180px;
}

.login-container h1 {
    padding-top: 30px;
}

footer {
    display: flex;
    background: black;
    flex-direction: column;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    color: white;
}