* {
    padding: 0;
    margin: 0;
}

html { 
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
}

body {
    background-color:#95BDA6;
}

.grid-header {
    grid-area: header;
    background-color: rgba(216,226,220);
    position: fixed;
    width: 100%;
}

#header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* margin-bottom: 40px; */
}

#header-div a {
    margin: 100px;
    text-decoration: none;
    color: rgba(43,48,58);
}

#header-div a:hover {
    color: rgba(245,93,62,0.8);
}

#header-div img {
    height: 50px;
    border-radius: 100%;
}

#header-div button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: rgba(43,48,58);
    background: rgba(245,93,62,0.3);
    border: none;
}

#header-div button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 270px;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#header-div button:hover {
    transform: scale(1.03, 1.03);
}

#user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    padding-right: 20px;
}

#user-profile span {
    margin-right: 15px;
    margin-left: 5px;
}

/* #header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* margin-bottom: 40px; */


/* #header-div a {
    margin: 100px;
    text-decoration: none;
    color: rgba(43,48,58);
} */
/* 
#header-div img {
    height: 50px;
    border-radius: 100%;
} */

/* #header-div button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: rgba(43,48,58);
    background: rgba(245,93,62,0.3);
    border: none;
} */

/* #user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding-right: 20px;
} */
/*  */


.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
}

#nearby-trails {
    display: flex;
    width: 100%;
    /* border: 2px solid black; */
}

.facility-name {
    background: white;
    height: 400px;
    overflow-y: auto;
    line-height: 2em;
    margin: 20px;
    /* width: 600px; */
    padding: 10px;
    border-radius: 5px;
}

.facility-name h1{
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(245,93,62,0.6);
    padding: 5px;
    border-radius: 5px;
}

.facility-name p {
    font-size: 1em;
}

.facility-name div {
    font-size: 1em;
}

.facility-name h2 {
    font-size: 1.3em;
}

#googlepic {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    /* height: 600px;
    width: auto; */
}

.image-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    max-width: 100%;
    /* width: 600px; */
    overflow: auto;
    padding: 10px;

    /* border: 2px solid black; */
}

.image-container img {
    /* max-width: 300px; */
    height: 300px;
    /* border: 2px solid white; */
    margin: 5px;
    margin-top: 120px;
}

#forecast-display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: white;
    border-radius: 5px;
    /* width: 100%; */
    height: 150px;
    /* overflow: hidden; */
    padding: 10px;
    text-align: center;
    margin: 20px;
}

#forecast-display ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#forecast-display li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(245,93,62,0.6);
    border-radius: 5px;
}

.grid-footer {
    display: flex;
    background: black;
    flex-direction: column;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    color: white;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#main img {
    align-self: center;
}

.hidden {
    display: none;
}

.slideshow-image {
    display: block;
    transition: all .2s ease-in-out; 
}

.slideshow-image:hover { transform: scale(1.1); }

#trail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    height: 400px;
    /* margin: 20px; */
 }
 
 #nearby-trails {
    display: flex;
    justify-content: space-between;
    /* padding: 0px 50px 0px 50px; */
    flex-direction: column;
    text-align: center;
 }
 
 #nearby-trails h2 {
    margin: 20px 0 20px 0;
    font-size: 2em;
 }
 
 #trails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
 }

 #trails-list img{
     width: 150px;
     height: auto;
     align-self: center;
 }

 #trail-container{
    /* border: 2px solid black; */
    border-radius: 5px;
    padding: 10px;
    max-width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: rgba(43,48,58);
    margin-top: 20px;
}


#trail-container:hover {
    transform: scale(1.03, 1.03);
}

#trail-container:hover::after {
    opacity: 1;
}
 
 #trails-list a{
    text-decoration: none;
    margin: 10px;
    margin-bottom: 50px;
 }
/* 
#side-by-side{
    display: flex;
    flex-direction: column;
} */

 * {
     max-width: 100%;
 }

